footer{
	background: #46A28D;
}

.navbar-nav li a{
	font-size: 18px;
	color: #fff!important;
}
.navbar-nav li:hover{
	background: #fff!important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #46A28D!important;
	font-weight: 600;
}

.navbar-default{
	background-color: #46A28D;
}
.btn-site {
  color: #FFFFFF;
  background-color: #46a28d;
  border-color: none;
}